/* src/styles/global.css */
/* A simple reset and base font */

/* Good practice: Basic reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*make sure that html, body and #app takes the full height*/
html, body, #app {
    height: 100%;
    width: 100%;
    background-color: #121212;
}

/* mounting point, no style needed */
#app {
    height: 100%;
    width: 100%;
}

.app-root {
    width: 100vw;
    height: 100vh; 
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.chat-container {
    height: 95%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1E1E1E;
    overflow: hidden;
}

.chat-sidebar {
    width: 15%;
    height: 95%;
    background-color: #2A2A2A;
    border-radius: 8px;
    margin-right: 10px;
    padding: 10px;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.chat-sidebar p {
    color: #8A8A8A; /* Dim Grey - Secondary Text */
    font-weight: bold;
    margin-bottom: 10px;
}

.chat-window {
    width: 100%;
    height: 85%;
    border-radius: 8px;
    background-color: #2A2A2A;
    margin: 0%;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

.chat-input {
    height: 12%;
    width: 100%;
    border-radius: 8px;
    background-color: #2A2A2A;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

body {
    background-color: black;
    color: white;
    text-shadow: black 0px 0px 1px;
}
